.parallax {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left top, #e7dde2, #efc3d9, #f6a8ce, #fb8bc2, #ff69b4);
}

.rectangle {
    width: 650px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 20%;
    top: 60%;
    transform: translate(0, -50%);
    z-index: 2;
    
}

.titleBox{
  position: absolute;
  left: 5%;
  top: 20%;
  transform: translate(0, -50%);
  z-index: 2;

}

.centeredTextTitle2 {
  text-align: center;
  color: #333;
  font-size: 4rem;
  font-weight: 400;
  font-family: "Bebas Neue";
}

.fruitCake {
    max-width: 45%;
    height: auto;
    position: absolute;
    right: 10%; /* Adjust as needed */
    top: 60%;
    transform: translate(0, -50%);
    z-index: 1;

}

.mainTitle{
  width: 50%;
  height: auto;

}

.centeredTextTitle {
    text-align: center;
    color: #333;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Sorts Mill Goudy', serif;
}

.text {
    background-color: rgba(33, 37, 40, 0.8);
}

.introductoryText {
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.6;
    color: #ffffff;
    margin: 0 100px;
    font-family: 'Sorts Mill Goudy', serif;
}

.introductoryText2 {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #141313;
  font-family: 'Sorts Mill Goudy', serif;
  padding: 0px 70px 0px 70px;
 
}

/* Responsive styles */
@media only screen and (max-width: 400px) {
    .introductoryText {
        font-size: 1.2rem;
        margin: 0 20px;
    }
    .centeredTextTitle {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 401px) and (max-width: 767px) {
    .introductoryText {
        font-size: 1.4rem;
        margin: 0 20px;
    }
    .centeredTextTitle {
        font-size: 2.5rem;
    }
}
