.parallax {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    background-color: white;
    background-image: url('../../Assets/CakesPicture/polygonSvg3.svg'); /* Háttérkép beállítása */
    background-size: cover; /* A háttér méretének beállítása */
    background-repeat: no-repeat; /* A háttér ismétlődésének megakadályozása */
}

.rectangle {
    width: 650px;
    height: 300px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 70%;
    transform: translate(0, -50%);
    z-index: 2;
}

.titleBox {
  position: absolute;
  left: 5%;
  top: 30%;
  transform: translate(0, -50%);
  z-index: 2;
}

.fruitCake {
    max-width: 45%;
    height: auto;
    position: absolute;
    right: 10%; /* Adjust as needed */
    top: 60%;
    transform: translate(0, -50%);
    z-index: 1;
}

.centeredTextTitle {
    text-align: center;
    font-size: 4rem;
    font-family: "Bebas Neue";
    
}

.pinkText {
    color: #FF69B4;
    font-weight: normal;
}

.blackText {
    color: #000000;
    font-weight: normal;
}

.text {
    background-color: rgba(33, 37, 40, 0.8);
}

.introductoryText2 {
 
  font-size: 1.3rem;
  line-height: 1.6;
  color: #141313;
  font-family: 'Sorts Mill Goudy', serif;
  padding: 0px 70px 0px 70px;
}


/* Mobil eszközök (kis képernyő) */
@media only screen and (max-width: 767px) {
    .rectangle {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 60%;
        transform: translate(0, -50%);
        z-index: 2;
    }
    
    .titleBox {
      position: absolute;
      left: 5%;
      top: 20%;
      transform: translate(0, -50%);
      z-index: 2;
    }
    
    .fruitCake {
        max-width: 45%;
        height: auto;
        position: absolute;
        right: 10%; /* Adjust as needed */
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
    }
    .centeredTextTitle {
        text-align: center;
        font-size: 3rem;
        font-family: "Bebas Neue";
        
    }
    .introductoryText2 {
 
        font-size: 1.1rem;
        line-height: 1.6;
        color: #141313;
        font-family: 'Sorts Mill Goudy', serif;
        padding: 0px 60px 0px 20px;
      }
      
}

/* Tablet eszközök (közepes képernyő) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Kisebb asztali és laptop kijelzők */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Nagyobb asztali kijelzők és TV-k */
@media only screen and (min-width: 1200px) {
}

