/* The Overlay (background) */
.overlay {
  width: 100%;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
  transition: height 0.5s ease;
  overflow: hidden;
}

.menuCard {
  transition: 0.3s;
}


.overlayContent {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
}

.rowCard{
  display: flex; /* Flexbox elrendezés */
  justify-content: space-around;
}

.overlayOpen {
  height: 100%;
}

.overlayClose {
  height: 0%;
  transition: height 0.5s ease;
}
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 45px;
    font-size: 60px;
  }


  /* Extra kicsi készülékek (telefonok, 576px és alatt) */
@media (max-width: 575.98px) {

  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 0px;
    right: 35px;
  }
  .menuCard{
    width: 10rem !important;

  }
  .rowCard{
    margin-left: auto !important;
  }
}

/* Kicsi készülékek (tabletek, 576px és 767px között) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Közepes készülékek (tabletek, 768px és 991px között) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Nagy készülékek (asztali gépek, 992px és 1199px között) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra nagy készülékek (asztali gépek, 1200px és afölött) */
@media (min-width: 1200px) and (max-width: 1600px) {
  
}

/* Extra nagy készülékek (asztali gépek, 1601px és afölött) */
@media (min-width: 1601px) {
  
}