.footer {
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

.logo{
  width: 200px;
  height: 200px;
}

.social {
  display: inline-block;
  margin: 0 10px;
}

.socialIcon {
  height: 32px;
  width: 32px;
}

.social-icon-white {
  filter: invert(1);
}

.photoServices {
    display: flex;
    flex-direction: column; /* Helyezze az elemeket oszlopcsúlyosan */
    align-items: flex-start; /* Az elemeket az oszlop kezdetére igazítja */
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2rem;
}



.photoServices a,
.pages a {
  margin: 10px 0;
  color: #666;
  text-decoration: none;
}

.linkContainer {
  margin: 0px 0;
  display: flex;
}

.linkContainer a{
  color: white;
  font-size: 15px;
  font-weight: 600;
}


.photoServices a:hover,
.pages a:hover {
  color: #ffffff;
  text-decoration: none;
  color: #FF69B4;
  font-weight: 600;
}

.underlineLong {
  border: none;
  height: 1px;
  background-color: #4169e1;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.author {
  margin: 0;
  font-size: 14px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

/*sfddgfgfdhhdghg*/



.icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.iconText {
  margin: 0;
  color: white;
  font-weight: 600;
}


.emailContainer {

  margin-bottom: 1rem;
}

span {
  color: white;
  font-weight: 600;
}

.emailPart:first-child {
  font-weight: bold;
  color: white;
  font-weight: 600;
}

.emailPart:last-child {
  margin-left: 0.2rem;
}

.iconContainer {
  
  cursor: pointer;
  transition: transform 0.4s ease;
  margin-bottom: 1rem;
}

.iconContainer:hover {
  transform: translateY(-7px);
}

.underline {
  margin-top: -10px;
  margin-bottom: 40px;
  border: none;
  height: 2px;
  background-color: #4169e1;
  width: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.reCAPTCHA{
  font-size: 10px;
  margin: 0;
}

.imageBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 50%;

  margin-top: 1rem;
}

.box {
  width: 100px;
  height: 100px;
  width: calc(50% - 10px);
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.h2Title{
  font-size: 1.8rem;
  font-family: "Bebas Neue";
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 4rem;
  position: relative;
}
.h2Title::after{
  content: ''; /* Tartalom hozzáadása a ::after pszeudo-elemhez */
  position: absolute; /* Abszolút pozíció beállítása a szülőhöz képest */
  bottom: -5px; /* Az alsó részhez való illesztés */
  left: 0; /* Balra igazítás */
  width: 100%; /* Teljes szélességű vonal */
  height: 2px; /* Vonal magassága */
  background-color: #FF69B4; /* Vonal színe */
}
.h2TitleLogo::after,
.h2TitleInsta::after {
  content: ''; /* Tartalom hozzáadása a ::after pszeudo-elemhez */
  position: absolute; /* Abszolút pozíció beállítása a szülőhöz képest */
  bottom: -5px; /* Az alsó részhez való illesztés */
  width: 100%; /* Teljes szélességű vonal */
  left: 0;
  right: 0;
  height: 2px; /* Vonal magassága */
  background-color: #FF69B4; /* Vonal színe */
}

.h2TitleLogo{
  font-size: 1.8rem;
  font-family: "Bebas Neue";
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}

.h2TitleInsta{
  font-size: 1.8rem;
  font-family: "Bebas Neue";
  cursor: pointer;
  margin-top: 0;
  position: relative;
}

.instaBox{
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-between; /* Az elemeket szétfeszíti az elérhető helyen */
  flex-wrap: wrap; 
  align-items: stretch; /* Az elemeket feszíti a közös szülőelem magasságához */
}



.verticalLine {
  border-left: 2px solid #ff000080; 
  height: 100%; /* A függőleges vonal magasságának beállítása a linkBox méretére */
  margin-right: 4rem; 
  padding-left: 1rem;
}

.footerLogo {
  width: 200px; 
  height: auto; 
}

.containerInsta{
  display: flex;
  flex-direction: column; /* Helyezze az elemeket oszlopcsúlyosan */
  align-items: flex-end; /* Az elemeket az oszlop kezdetére igazítja */
}

.containerContact{
  display: flex;
  flex-direction: column; /* Helyezze az elemeket oszlopcsúlyosan */
  align-items: center; /* Az elemeket az oszlop kezdetére igazítja */
}


/* Mobil eszközök (kis képernyő) */
@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    margin: 0px 0;
  }

  .containerContact,
  .photoServices,
  .pages {
    margin: 1rem 0;
  }
  .containerContact {
    flex-direction: column;
    padding: 0rem;
    padding-left: 0rem;
    margin-right: 0px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column; /* Helyezze az elemeket oszlopcsúlyosan */
    align-items: center; /* Az elemeket az oszlop kezdetére igazítja */
  }
  .containerInsta{
    display: flex;
    flex-direction: column; /* Helyezze az elemeket oszlopcsúlyosan */
    align-items: center; /* Az elemeket az oszlop kezdetére igazítja */
  }
  .emailContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .icon {
    margin-bottom: 0rem;
  }

  .email {
    text-align: center;
  }
  .iconContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
 
  .containerContact,
  .photoServices,
  .pages {
    max-width: 100%;
  }
  .reCAPTCHA{
  font-size: 8px;
}
.author {
  margin: 0;
  font-size: 12px;
  margin-bottom: .5rem;
}
.box {
  width: 100px;
  height: 150px;
  width: calc(50% - 15px);
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.footerLogo {
  width: 60%; 
  height: auto; 
}
.verticalLine {
  border-left: 0px solid #ff000080; 
  height: 100%; /* A függőleges vonal magasságának beállítása a linkBox méretére */
  margin-right: 1rem; 
  padding-left: 1rem;
}

.linkContainer {
  margin: 0px 0;
  display: block;
  line-height: 3.5rem;
}
.linkContainer a{
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
.photoServices {
  align-items: center; /* Az elemeket az oszlop kezdetére igazítja */
}
.links {
  display: flex;
  justify-content: center; /* Középre igazítás vízszintesen */
  margin-bottom: 3rem;
}
.h2Title{
  font-size: 1.8rem;
  font-family: "Bebas Neue";
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 2rem;
  position: relative;
}


.h2TitleLogo{
  font-size: 1.8rem;
  font-family: "Bebas Neue";
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}

.h2TitleInsta{
  font-size: 1.8rem;
  font-family: "Bebas Neue";
  cursor: pointer;
  margin-top: 0;
  position: relative;
}
.imageBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;

  margin-top: 1rem;
}
}

/* Tablet eszközök (közepes képernyő) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .containerContact,
.photoServices,
.containerInsta {
  flex-basis: 33.33%;
  max-width: 33.33%;
}

.links {
  display: flex;
  justify-content: center; /* Középre igazítás vízszintesen */
  margin-bottom: 3rem;
}

.linkContainer {
  margin: 0px 0;
  display: block;
  line-height: 2.5rem;
}

.photoServices {
  align-items: center; /* Az elemeket az oszlop kezdetére igazítja */
}

.h2Title{
  font-size: 1.8rem;
  font-family: "Bebas Neue";
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 1rem;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 0rem;
}

  .containerContact,
  .photoServices,
  .containerInsta {
    margin: 1rem 0;
  }
  .containerContact {
    padding: 0rem;
    padding-left: 0rem;
    margin-right: 0px;
  }
  .emailContainer {
    align-items: center;
    margin-bottom: 2rem;
  }

  .icon {
    margin-bottom: 0rem;
  }

  .email {
    text-align: center;
  }
  .iconContainer {
    align-items: center;
    margin-bottom: 2rem;
  }
  .imageBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;

    margin-top: 1rem;
  }
  .box {
    width: auto;
    height: 100px;
    width: calc(50% - 15px);
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .verticalLine {
    border-left: 0px solid #FF69B4; 
    height: 100%; /* A függőleges vonal magasságának beállítása a linkBox méretére */
    margin-right: 1rem; 
    padding-left: 1rem;
  }
}

/* Kisebb asztali és laptop kijelzők */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .containerContact,
.photoServices,
.containerInsta {
  flex-basis: 33.33%;
  max-width: 33.33%;
}

.links {
  display: flex;
  flex-direction: column; /* Oszlopba rendezés */
  align-items: center; /* Középre igazítás függőlegesen */
  margin-bottom: 3rem;
}

.linkContainer {
  margin: 0px 0;
  display: block;
  line-height: 2.5rem;
}

.photoServices {
  align-items: center; /* Az elemeket az oszlop kezdetére igazítja */
}

.h2Title{
  font-size: 1.8rem;
  font-family: "Bebas Neue";
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 1rem;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 0rem;
}

  .containerContact,
  .photoServices,
  .containerInsta {
    margin: 1rem 0;
  }
  .containerContact {
    padding: 0rem;
    padding-left: 0rem;
    margin-right: 0px;
  }
  .emailContainer {
    align-items: center;
    margin-bottom: 2rem;
  }

  .icon {
    margin-bottom: 0rem;
  }

  .email {
    text-align: center;
  }
  .iconContainer {
    align-items: center;
    margin-bottom: 2rem;
  }
  .imageBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;

    margin-top: 1rem;
  }
  .box {
    width: auto;
    height: 100px;
    width: calc(50% - 15px);
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .verticalLine {
    border-left: 0px solid #FF69B4; 
    height: 100%; /* A függőleges vonal magasságának beállítása a linkBox méretére */
    margin-right: 1rem; 
    padding-left: 1rem;
  }
}

/* Nagyobb asztali kijelzők és TV-k */
@media only screen and (min-width: 1200px) {
}
