.footer {
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

.logo{
  width: 200px;
  height: 200px;
}

.social {
  display: inline-block;
  margin: 0 10px;
}

.socialIcon {
  height: 32px;
  width: 32px;
}

.social-icon-white {
  filter: invert(1);
}

.photoServices {
  display: flex;
  flex-direction: column; /* Helyezze az elemeket oszlopcsúlyosan */
  align-items: flex-start; /* Az elemeket az oszlop kezdetére igazítja */
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}


.containerContact,
.photoServices,
.pages
 {
 
  max-width: 50%;
}


.photoServices a,
.pages a {
  margin: 10px 0;
  color: #666;
  text-decoration: none;
}

.linkContainer {
  margin: 0px 0;
  display: flex;
}

.linkContainer a{
  color: white;
  font-size: 15px;
  font-weight: 600;
}


.photoServices a:hover,
.pages a:hover {
  color: #ffffff;
  text-decoration: none;
  color: #4169e1;
  font-weight: 600;
}

.underlineLong {
  border: none;
  height: 1px;
  background-color: #4169e1;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.author {
  margin: 0;
  font-size: 14px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

/*sfddgfgfdhhdghg*/

.containerContact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.iconText {
  margin: 0;
  color: white;
  font-weight: 600;
}


.emailContainer {

  margin-bottom: 1rem;
}

span {
  color: white;
  font-weight: 600;
}

.emailPart:first-child {
  font-weight: bold;
  color: white;
  font-weight: 600;
}

.emailPart:last-child {
  margin-left: 0.2rem;
}

.iconContainer {
  
  cursor: pointer;
  transition: transform 0.4s ease;
  margin-bottom: 1rem;
}

.iconContainer:hover {
  transform: translateY(-7px);
}

.underline {
  margin-top: -10px;
  margin-bottom: 40px;
  border: none;
  height: 2px;
  background-color: #4169e1;
  width: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.reCAPTCHA{
  font-size: 10px;
  margin: 0;
}

.imageBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
}

.box {
  width: 100px;
  height: 100px;
  width: calc(50% - 10px);
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.h2Title{
  font-size: 1.8rem;
  font-family: "Bebas Neue";
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 2rem;
}

.h2TitleInsta{
  font-size: 1.8rem;
  font-family: "Bebas Neue";
  cursor: pointer;
  margin-top: 0;
}

.instaBox{
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-between; /* Az elemeket szétfeszíti az elérhető helyen */
  flex-wrap: wrap; 
  align-items: stretch; /* Az elemeket feszíti a közös szülőelem magasságához */
}



.verticalLine {
  border-left: 2px solid #ff000080; 
  height: 100%; /* A függőleges vonal magasságának beállítása a linkBox méretére */
  margin-right: 5rem; 
  padding-left: 1rem;
}



/* Mobil eszközök (kis képernyő) */
@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    margin: 0px 0;
  }

  .containerContact,
  .photoServices,
  .pages {
    margin: 1rem 0;
  }
  .containerContact {
    flex-direction: column;
    padding: 0rem;
    padding-left: 0rem;
    margin-right: 0px;
  }
  .emailContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .icon {
    margin-bottom: 0rem;
  }

  .email {
    text-align: center;
  }
  .iconContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .containerContact,
  .photoServices,
  .pages {
    max-width: 100%;
  }
  .reCAPTCHA{
  font-size: 8px;
}
.author {
  margin: 0;
  font-size: 12px;
  margin-bottom: .5rem;
}
.imageBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
}

.box {
  width: 100px;
  height: 150px;
  width: calc(50% - 15px);
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
}

/* Tablet eszközök (közepes képernyő) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    margin: 0px 0;
  }

  .containerContact,
  .photoServices,
  .pages {
    margin: 1rem 0;
  }
  .containerContact {
    padding: 0rem;
    padding-left: 0rem;
    margin-right: 0px;
  }
  .emailContainer {
    align-items: center;
    margin-bottom: 2rem;
  }

  .icon {
    margin-bottom: 0rem;
  }

  .email {
    text-align: center;
  }
  .iconContainer {
    align-items: center;
    margin-bottom: 2rem;
  }
}

/* Kisebb asztali és laptop kijelzők */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 2rem;
  }
  .iconText {
    margin: 0;
    margin-right: 10px;
  }

  .emailContainer {
    margin-right: 20px;
  }
}

/* Nagyobb asztali kijelzők és TV-k */
@media only screen and (min-width: 1200px) {
}
