.nav {
  margin: 0 auto;
  display: block;
  /*padding: 20px 0 0 0;*/
  padding: 0;
  text-align: center;
}

.navList {
  list-style: none;
  padding: 0;
}

.navItem {
  margin: 0 auto;
  /*border-left: 2px solid #3ca0e7;*/
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.navLink {
  color: #473939;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', sans-serif;
}

.navLink::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #FF7F7F;
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}

.navLink:hover {
  color: #473939;
}

.navItem:hover {
  cursor: pointer;
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 20%;
  display: none;
  background: white;
  border-radius: 4px;

}

.navItem:hover > .dropdown,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 200px;
  text-align: left;
}

.dropdownItem {
  clear: both;
  width: 100%;
  text-align: left;
  padding: 10px;
  margin-bottom: 0px;
  border-style: none;
  background-color: #ffffff;
  white-space: nowrap;
  position: relative;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  box-shadow: 4px 8px 12px -3px rgba(0,0,0,0.75);
}

.dropdownItem:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 1px;
  background-color: #FF7F7F;
}

.dropdownItem:last-child {
  border-bottom: none;
}


.dropdownLink {
  color: #473939;
  transition: all 0.5s ease;
  position: relative;
  padding-bottom: 5px;
  font-size: 1.2rem;
  font-family: 'Bebas Neue', sans-serif;
}

.dropdownLink::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #FF7F7F;
  transition: width 0.3s ease;
}



.dropdownLink:hover {
  /*padding-left: 10px;*/
  color: #FF7F7F;
}

a {
  text-decoration: none;
  color: #473939;
}
