.imageContainer {
  position: relative;
  width: 100%;
  cursor: move;
  transition: transform 0.2s ease;
}

.imageContainer:hover {
  transform: scale(1.02);
}

.dragOver {
  border: 2px dashed #ff7f7f;
  transform: scale(1.05);
}

.draggableImage {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.imageContainer:hover .overlay {
  display: flex;
}

.overlay img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
