.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    background-color: white;
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Ha a gyermekelemek függőlegesen egymás alatt vannak */
  }
  
  blockquote {
    max-width: 80%;
  }

  .author {
    font-size: 20px;
    color: black;
  }

  .title{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: "Georgia", serif;
    font-size: 25px;
    margin: 0 auto;
  }

  .divider {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #333;
  }
  
  .line1 {
    flex: 1;
    border-bottom: 2px solid #FF69B4;
    margin: 0rem 2rem 0rem 10rem;
  }

  .line2 {
    flex: 1;
    border-bottom: 2px solid #FF69B4;
    margin: 0rem 10rem 0rem 2rem;
  }
  
  .container, .pictureBox{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: white;
  }

  .pictureBox{
    background-color: #ffffff;
    color: white;
    padding-bottom: 7rem;
  }
  
  .mobileCardSlider{
    display: none;
  }

  .underline {
    margin-top: -20px;
    margin-bottom: 40px;
    border: none;
    height: 3px;
    background-color: #FF69B4;
    width: 8%;
    margin-left: auto;
    margin-right: auto;
  }

  .DesktopSlider{
    background-color: #333;
    
  }
  

  /* Extra kicsi készülékek (telefonok, 576px és alatt) */
@media (max-width: 575.98px) {
  .section{
    height: 100%;
  }
  .pictureBox{
    display: none;
  }
  .divider{
    display: none;
  }
  .mobileCardSlider{
    display: block;
    background-color: rgb(56, 53, 53);
    padding-top: 10px;
    padding-bottom: 60px;
    overflow: hidden;
  }
  .underline {
    margin-top: -20px;
    margin-bottom: 40px;
    border: none;
    height: 3px;
    background-color: #FF69B4;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .DesktopSlider{
    
  }
  .arrowIcon {
    bottom: 0;
    right: 0;
    color: white;
    animation: arrowAnimation 1s infinite alternate;
    font-size: 30px;
  }
  
  @keyframes arrowAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(20px);
    }
  }
}

/* Kicsi készülékek (tabletek, 576px és 767px között) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .section{
    height: auto;
  }
}

/* Közepes készülékek (tabletek, 768px és 991px között) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .section{
    height: auto;
  }
}

/* Nagy készülékek (asztali gépek, 992px és 1199px között) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .section{
    height: auto;
  }
}

/* Extra nagy készülékek (asztali gépek, 1200px és afölött) */
@media (min-width: 1200px) and (max-width: 1600px) {
  .section{
    height: auto;
  }
}

/* Extra nagy készülékek (asztali gépek, 1601px és afölött) */
@media (min-width: 1601px) {
  .section{
    height: auto;
  }
}
  
  
  