.cardContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem
  }
  
  .rowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  .col {
    flex: 1;
    max-width: 24%;
    box-sizing: border-box;
    margin: 10px;
  }
  
  .card {
    width: 100%;
    height: 200px; /* Egységes kártyamagasság */
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .imageStyle {
    width: 100%;
    height: 80%; /* Kép magassága növelve */
    object-fit: cover; /* A kép kitöltése a kártyában */
  }
  
  .cardBody {
    height: 20%; /* Szöveg magassága csökkentve */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardText {
    color: #333;
    margin: 0;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.2rem;
  }
  
  .cardBodyNext {
    width: 100%;
    height: 200px; /* Egységes kártyamagasság */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .cardTextNext {
    color: #ff7f7f;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    transition: transform 0.2s;
  }

  .cardTextNext:hover {
    transform: scale(1.1);
  }

  /* Mobilnézet (max-width: 768px) */
@media (max-width: 767px) {
    .col {
      max-width: 100%;
      flex: 1 1 100%;
    }
    .card {
        height:300px; /* Egységes kártyamagasság */
      }
    .cardBodyNext {
        height: 150px; /* Kisebb magasság mobilnézetben */
      }
      .cardTextNext {
        font-size: 1.8rem;
      }
      .cardText {
        font-size: 1.4rem;
      }
      .cardContainer {
        margin-top: 0rem
      }
  }

  /* Közepes készülékek (tabletek, 768px és 991px között) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .card {
        height: 200px; /* Egységes kártyamagasság */
      }
      .cardBodyNext {
        height: 200px; /* Egységes kártyamagasság */
      }
      .cardTextNext {
        font-size: 1.4rem;
      }
      .cardText {
        font-size: 1rem;
      }
      .cardContainer {
        padding: 0px 20px 0px 20px;
        margin-top: -4rem;
      }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .cardContainer {
        padding: 0px 20px 0px 20px;
        margin-top: -3rem;
        margin-bottom: 4rem;
      }
}

  