
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.container {
    min-height: 100vh;
    margin: 0 5rem;
    margin-top: 5rem;
    padding-bottom: 5rem; 
    box-sizing: border-box; 
}

.captionContainer {
    text-align: center;
    margin-top: 5px;
    background-color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.3rem;
}

.caption {
    font-size: 14px;
    color: #555;
}

.mentesImage {
    width: 70px;
    height: auto;
}


@media only screen and (max-width: 767px) {
    .container {
        margin: 0 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 5rem; 
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        margin: 0 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 5rem; 
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        padding-bottom: 5rem; 
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        padding-bottom: 5rem; 
    }
}
