.swiper {
    width: 100%;
    height: 100%;
    background-color: #ff7f7f;
    padding: 40px;
    padding-bottom: 4rem;
  }

  .wrapper{
    padding-bottom: 2rem;
    background-color: #ff7f7f;
    text-align: center;
  }
  
  .swiper-slide {
    height: auto;
    width: auto;
    text-align: center;
    font-size: 18px;
    background: #fff;
    color: #333;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set a minimum height */
    min-height: 200px;
    border-radius: 10px;
    padding: 0 25px;

   
  }

  
  .swiper-slide p{
    font-size: 20px;
  }

  .swiper-button-prev {
    color: #333;
  }
  
  .swiper-button-next {
    color: #333;
  }

  .swiper-pagination-fraction{
    color: rgb(78, 24, 165);
  }
  

  .opinionTitle{
    color: #ffffff;
    text-align: center;
    font-family: "Bebas Neue";
    background-color: #ff7f7f;
    display: inline-block;
    position: relative;
    padding-top: 2rem;
  }

  .opinionTitle::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%; /* A bal oldalt 50%-ra állítjuk, hogy középre igazítsuk */
    transform: translateX(-50%); /* A vonal középre igazításához */
    width: 100%; /* A vonal szélessége megegyezik a szöveg szélességével */
    height: 2px;
    background-color: #020202;
  }

  .underline{
    margin-top: -30px;
    border: none;
    height: 3px;
    background-color: #ff7f7f;
    width: 8%;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 600px) {

  }
  
  /* Medium devices (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 960px) {
    .swiper-slide {
      height: auto;
      width: auto;
      text-align: center;
      font-size: 18px;
      background: #fff;
      color: #333;
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      /* Set a minimum height */
      min-height: 350px;
      border-radius: 10px;
      padding: 0 10px;
     
    }
    .swiper-slide p{
      font-size: 17px;
    }
    .underline{
      margin-top: -30px;
      margin-bottom: 40px;
      border: none;
      height: 3px;
      background-color: #FF69B4;
      width: 15%;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      height: auto;
      width: auto;
      text-align: center;
      font-size: 18px;
      background: #fff;
      color: #333;
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      /* Set a minimum height */
      min-height: 350px;
      border-radius: 10px;
      padding: 0 25px;
     
    }
  }
  
  /* Large devices (desktops) */
  @media only screen and (min-width: 961px) {
  }
  
  