.swiper {
    width: 100%;
    height: 100%;
    background-color: #FF7F7F;
    padding: 40px;
    padding-bottom: 4rem;
  }

  .wrapper{
    padding-bottom: 2rem;
    background-color: #FF7F7F;
    text-align: center;
  }
  
  .swiper-slide {
    height: auto;
    width: auto;
    text-align: center;
    font-size: 18px;
    background: #fff;
    color: #333;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set a minimum height */
    min-height: 200px;
    border-radius: 10px;
    padding: 0 25px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
   
  }

  
  .swiper-slide p{
    font-size: 1.6rem;
    font-family: "Bebas Neue";
    margin: 0 auto;
  }

  .swiper-button-prev {
    color: #333;
  }
  
  .swiper-button-next {
    color: #333;
  }

  .swiper-pagination-fraction{
    color: rgb(78, 24, 165);
  }
  

  .opinionTitle{
    color: #ffffff;
    text-align: center;
    font-family: "Bebas Neue";
    background-color: #473939;
    display: inline-block;
    position: relative;
    margin-top: 2rem;
    padding: 10px 20px 0px 20px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  }

  /*.opinionTitle::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    height: 2px;
    background-color: #020202;
  }*/

  .underline{
    margin-top: -30px;
    border: none;
    height: 3px;
    background-color: #FF69B4;
  }

   /* Mobil eszközök (kis képernyő) */
@media only screen and (max-width: 400px) {
      .swiper {
      width: 100%;
      height: 100%;
      background-color: #FF7F7F;
      padding: 30px 50px 0px 50px;
      padding-bottom: 4rem;
    }
  .swiper-slide p{
    font-size: 1.3rem;
  }
} 

/* Mobil eszközök (kis képernyő) */
@media only screen and (min-width: 401px) and (max-width: 767px) {
  .swiper {
    width: 100%;
    height: 100%;
    background-color: #FF7F7F;
    padding: 30px 50px 0px 50px;
    padding-bottom: 4rem;
  }
  .swiper-slide p{
    font-size: 1.3rem;
  }
}

  /* Medium devices (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .swiper-slide p{
      font-size: 1.3rem;
    }
    .swiper {
      width: 100%;
      height: 100%;
      background-color: #FF7F7F;
      padding: 30px 50px 0px 50px;
      padding-bottom: 4rem;
    }
    .swiper-slide {
      height: auto;
      width: auto;
      text-align: center;
      font-size: 18px;
      background: #fff;
      color: #333;
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      /* Set a minimum height */
      min-height: 150px;
      border-radius: 10px;
      padding: 0 25px;
      box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
     
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 960px) {
    .swiper {
      width: 100%;
      height: 100%;
      background-color: #FF7F7F;
      padding: 30px 50px 0px 50px;
      padding-bottom: 4rem;
    }
    .swiper-slide {
      height: auto;
      width: auto;
      text-align: center;
      font-size: 18px;
      background: #fff;
      color: #333;
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      /* Set a minimum height */
      min-height: 150px;
      border-radius: 10px;
      padding: 0 15px;
      box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
     
    }
  }
  
  /* Large devices (desktops) */
  @media only screen and (min-width: 961px) {
  }
  
  