.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1500px;
  margin: 0 auto;
  gap: 2rem;
  width: 100%;
  background-color: #F4F4F4;

  overflow: hidden;
  box-sizing: border-box;
}

.leftSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.rightSection {
  flex: 1.4;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50%;
}

.wordCloud {
  width: 100%;
  height: auto;
  max-width: 500px;
  object-fit: contain;
}

.titleBox {


}

.centeredTextTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}


.rightSection {

}



.pinkText {
  position: absolute;
  top: 50px;
  font-size: clamp(1.8rem, 3vw, 2.8rem);
  font-family: "Bebas Neue";
  color: #F4F4F4;
  background-color: #FF7F7F;
  width: clamp(150px, 20vw, 200px);
  padding: 5px 0px 0px 0px;
  text-align: center;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.blackText {
  position: absolute;
  top: 95px;
  right: 220px;
  font-size: clamp(1.8rem, 3vw, 2.8rem);
  font-family: "Bebas Neue";
  color: #F4F4F4;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #473939;
  width: clamp(150px, 20vw, 200px);
  padding: 5px 0px 0px 0px;
  text-align: center;
  align-items: center;
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.rectangle {
  padding: clamp(1rem, 2vw, 2rem);
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 6rem;
}

.introductoryText2 {
  font-family: "Sorts Mill Goudy", serif;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  line-height: 1.6;
  color: #1f1e1d;
  margin: 0;
  text-align: center;
}

.arrowContainer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 1;
}

/* Tablet (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 1.5rem;
    height: 100%;
    padding-bottom: 6rem;
  }

  .leftSection, .rightSection {
    max-width: 100%;
  }

  .wordCloud {
    max-width: 400px;
  }

  .centeredTextTitle {
    font-size: 3rem;
  }

  .introductoryText2 {
    font-size: 1.2rem;
  }
  .rectangle {
    padding: clamp(1rem, 2vw, 2rem);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5rem;
  }
  .pinkText {
    position: absolute;
    top: 30px;
  }
  
  .blackText {
    position: absolute;
    top: 65px;
    right: 100px;
  }
}

/* Mobile (up to 767px) */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 4rem;
  }


  .leftSection {
    order: 2; /* A wordCloudMobile a rectangle alá kerül */
    max-width: 100%;
  }

  .rightSection {
    order: 1; /* A szöveges tartalom a kép fölé kerül */
    max-width: 100%;
    gap: 0rem;
  }
  

  .wordCloud {
    max-width: 100%;
    margin-top: 1rem;
  }


  .leftSection, .rightSection {
    max-width: 100%;
    width: 100%;
  }

  .centeredTextTitle {
    font-size: 2.5rem;
  }

  .introductoryText2 {
    font-size: 1.1rem;
  }


  .rectangle {
    padding: 0rem;
    padding-top: 7rem;
  }
  .pinkText {
    position: absolute;
    top: 30px;
  }
  
  .blackText {
    position: absolute;
    top: 65px;
    right: 100px;
  }

  .arrowContainer {
    bottom: 20px;
  }
  .arrowContainer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    z-index: 1;
  }
}

  @media (min-width: 1200px) and (max-width: 1366px) {
  .container {
    padding: 3rem;
  }

  .wordCloud {
    width: 80%;
    height: auto;
    object-fit: contain;
  }
  .centeredTextTitle {
    font-size: 4rem;
  }

  .introductoryText2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {

}

@media (min-width: 2048px) { /* 2K és nagyobb */
  .container {
    max-width: 80%; /* Szélesebb legyen, hogy több tartalom férjen el */
    padding: 4rem; /* Nagyobb padding a tágasabb megjelenéshez */
  }
  .leftSection, .rightSection {
    max-width: 60%; /* Több helyet adunk a tartalomnak */
  }
  .wordCloud {
    width: 80%;
    height: auto;
    max-width: 1000px;
    object-fit: contain;
  }
  .leftSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
  }
  
  .rightSection {
    flex: 1.4;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 50%;
  }
  .rectangle {
    padding: clamp(1rem, 2vw, 2rem);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 8rem;
  }
  
  .introductoryText2 {
    font-family: "Sorts Mill Goudy", serif;
    font-size: clamp(2rem, 1.5vw, 1.5rem);
    line-height: 1.6;
    color: #1f1e1d;
    margin: 0;
    text-align: center;

  }
  .pinkText {
    position: absolute;
    top: 60px;
    font-size: clamp(2.5rem, 3vw, 2.8rem);
    font-family: "Bebas Neue";
    color: #F4F4F4;
    background-color: #FF7F7F;
    width: clamp(150px, 20vw, 250px);
    padding: 15px 0px 5px 0px;
    text-align: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease, opacity 0.8s ease;
  }
  
  .blackText {
    position: absolute;
    top: 120px;
    right: 250px;
    font-size: clamp(2.5rem, 3vw, 2.8rem);
    font-family: "Bebas Neue";
    color: #F4F4F4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #473939;
    width: clamp(150px, 20vw, 250px);
    padding: 15px 0px 5px 0px;
    text-align: center;
    align-items: center;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease, opacity 0.8s ease;
  }
    
}

@media (min-width: 3840px) { /* 4K kijelző */
  .container {
    max-width: 80%; /* Szélesebb legyen, hogy több tartalom férjen el */
    padding: 4rem; /* Nagyobb padding a tágasabb megjelenéshez */
  }
  .leftSection, .rightSection {
    max-width: 60%; /* Több helyet adunk a tartalomnak */
  }
  .wordCloud {
    width: 80%;
    height: auto;
    max-width: 1200px;
    object-fit: contain;
  }
  .leftSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
  }
  
  .rightSection {
    flex: 1.4;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 50%;
  }
  .rectangle {
    padding: clamp(1rem, 2vw, 2rem);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 6rem;
  }
  
  .introductoryText2 {
    font-family: "Sorts Mill Goudy", serif;
    font-size: clamp(3.5rem, 1.5vw, 1.5rem);
    line-height: 1.6;
    color: #1f1e1d;
    margin: 0;
    text-align: center;
  }
  .pinkText {
    position: absolute;
    top: 90px;
    font-size: clamp(4rem, 3vw, 2.8rem);
    font-family: "Bebas Neue";
    color: #F4F4F4;
    background-color: #FF7F7F;
    width: clamp(150px, 20vw, 400px);
    padding: 15px 0px 5px 0px;
    text-align: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease, opacity 0.8s ease;
  }
  
  .blackText {
    position: absolute;
    top: 170px;
    right: 450px;
    font-size: clamp(4rem, 3vw, 2.8rem);
    font-family: "Bebas Neue";
    color: #F4F4F4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #473939;
    width: clamp(150px, 20vw, 400px);
    padding: 15px 0px 5px 0px;
    text-align: center;
    align-items: center;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease, opacity 0.8s ease;
  }
}
